.hotel-confirmation .hotel-details-location {
  padding: 0 0 0 0;
}

.hotel-ticket {
  display: flex;
  gap: 4.375em;
  padding: 2em;
}

.hotel-time {
  display: grid;
  align-items: center;
  padding: 1.5em 0;
}

.hotel-time img {
  padding: 1.5em 0;
  opacity: 40%;
  width: 20px;
}

.ticket-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 610px;
}

.ticket-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  background-color: var(--clr-primary-400);
  border-top-right-radius: 12px;
}

.ticket-profile .flex {
  flex-wrap: nowrap;
}

.ticket-profile h2 {
  max-width: 234px;
  text-align: right;
  padding-left: 1.5em;
}

.ticket-profile img {
  overflow: hidden;
  border: 1px solid var(--clr-neutral-50);
  border-radius: 50%;
  width: 54px;
  margin-right: 1em;
}

.hotel-details .flex {
  flex-wrap: nowrap;
  padding: 1em 0.2em;
  gap: 0.5em;
}

.hotel-details h1 {
  line-height: 1;
}

.ticket-barcode {
  display: flex;
  justify-content: space-between;
  padding: 1.2em;
}

.hotel-terms {
  display: grid;
  row-gap: 2.125em;
}

.hotel-terms ul {
  list-style: none;
  margin: -1.4em 0 0 1em;
}

.hotel-terms ul li {
  padding: 0.5em 0.1em;
}

.hotel-terms li::before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 3px;
  background-color: black;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.hotel-terms h3 {
  margin-bottom: -1em;
}

.hotel-terms a {
  text-decoration: underline;
}
