/* ========== CUSTOM PROPERTIES (VARIABLES) ========== */
:root {
  /* Neutral Colors */
  --clr-neutral-50: #ffffff;
  --clr-neutral-100: #767e86;
  --clr-neutral-200: #112211;

  /* Primary Colors (Brand Color) */
  --clr-primary-300: #cdeae1;
  --clr-primary-400: #8dd3bb;

  /* Font Families */
  --font-family-display: 'Lexend Exa', serif;
  --font-family-base: 'Montserrat', sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Font Sizes*/
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-45: 2.8125rem;
  --fs-54: 3.375rem;
  --fs-58: 3.625rem;
  --fs-64: 4rem;
  --fs-94: 5.875rem;
}

/* ========== BASE STYLES / CSS RESET ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 16px;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-family-base);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-200);
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========== UTILITY CLASSES ========== */

/* Headings */
.heading-normal-txt {
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-family: var(--font-family-base);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
}

.heading-primary {
  font-size: clamp(1.5rem, 6vw, 2rem);
  font-family: var(--font-family-base);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-semi-bold);
}

/* Text Color */
.text-primary-color {
  color: var(--clr-primary-400);
}
.text-neutral-white {
  color: var(--clr-neutral-50);
}
.text-neutral-grey {
  color: var(--clr-neutral-100);
}
.text-neutral-black {
  color: var(--clr-neutral-200);
}

/* Background Color */
.bg-primary-color {
  background-color: var(--clr-primary-400);
}
.bg-neutral-white {
  background-color: var(--clr-neutral-50);
}
.bg-neutral-black {
  background-color: var(--clr-neutral-200);
}

/* Font Family */
.ff-primary {
  font-family: var(--font-family-display);
}
.ff-secondary {
  font-family: var(--font-family-base);
}

/* Font Weight */
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

/* Font Sizes */
.fs-primary-heading {
  font-size: var(--fs-64);
}
.fs-secondary-heading {
  font-size: var(--fs-24);
}

.fs-12 {
  font-size: var(--fs-12);
}
.fs-14 {
  font-size: var(--fs-14);
}
.fs-16 {
  font-size: var(--fs-16);
}
.fs-18 {
  font-size: var(--fs-18);
}
.fs-20 {
  font-size: var(--fs-20);
}
.fs-24 {
  font-size: var(--fs-24);
}
.fs-28 {
  font-size: var(--fs-28);
}
.fs-32 {
  font-size: var(--fs-32);
}
.fs-36 {
  font-size: var(--fs-36);
}
.fs-40 {
  font-size: var(--fs-40);
}
.fs-45 {
  font-size: var(--fs-45);
}
.fs-54 {
  font-size: var(--fs-54);
}
.fs-58 {
  font-size: var(--fs-58);
}
.fs-94 {
  font-size: var(--fs-94);
}

/* Layout Utilities */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.flex-no-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Button Base Styles & Interactions */
.btn-black,
.btn-white,
.btn-stroke,
.btn-secondary,
.btn-primary {
  transition: transform 0.2s ease-out;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.btn-white:hover,
.btn-black:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-stroke:hover,
.btn-white:focus,
.btn-stroke:focus,
.btn-black:focus,
.btn-primary:focus,
.btn-secondary:focus {
  transform: scale(1.02) translateZ(0);
  transition: transform 0.2s ease-out;
}

/* Specific Button Styles */
.btn-black {
  padding: 1.5rem 1rem;
  border: none;
  font-family: var(--font-family-base);
  font-weight: var(--fw-semi-bold);
  font-size: 0.875em;
  color: var(--clr-neutral-200);
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.btn-white {
  padding: 1.5rem 1rem;
  border: none;
  font-family: var(--font-family-base);
  font-weight: var(--fw-semi-bold);
  font-size: 1em;
  color: var(--clr-neutral-200);
  background-color: transparent;
  cursor: pointer;
}

.btn-stroke {
  padding: 0.7188em 1em;
  border: solid 1px var(--clr-primary-400);
  border-radius: 4px;
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  font-family: var(--font-family-base);
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-200);
  background-color: transparent;
  cursor: pointer;
}

.btn-secondary {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 4px;
  color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-50);
  cursor: pointer;
}

.btn-primary {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 4px;
  font-family: var(--font-family-base);
  font-weight: var(--fw-medium);
  font-size: 0.875em;
  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-400);
  cursor: pointer;
  align-items: center;
}

/* Text Alignment */
.text-center {
  text-align: center;
}
