/* ========== HEADER & NAVIGATION ========== */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--clr-neutral-50);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 90px;
}

.company-logo {
  max-width: 110px;
  margin-right: 124px;
}

.nav-left,
.nav-right button {
  display: flex;
  align-items: center;
}

.nav-booking-tab:not(.active):hover {
  border-bottom: 5px solid var(--clr-primary-400);
}

.nav-booking-tab {
  display: flex;
  align-items: center;
  padding: 1.875em 0.8em;
  border: none;
  border-bottom: 5px solid transparent;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-200);
  transition: all 0.3s;
}

.nav-booking-tab.active {
  border-color: var(--clr-primary-400);
  font-weight: var(--fw-bold);
}

/* Toggle Button */
.mobile-toggle {
  display: none;
  font-size: var(--fs-24);
  cursor: pointer;
}

.mobile-toggle .menu-icon {
  display: inline;
}

.mobile-toggle .close-icon {
  display: none;
}

/* Toggle State */
.mobile-toggle.active .menu-icon {
  display: none;
}

.mobile-toggle.active .close-icon {
  display: inline;
}

/* ========== MOBILE NAVIGATION ========== */
.mobile-nav {
  position: absolute;
  top: 90px;
  left: 9.5%;
  z-index: 5;
  width: 80%;
  max-height: 0;
  overflow: hidden;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 0 0 4px 4px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
}

.mobile-nav.show {
  max-height: 300px;
  padding: 1em 2em;
  opacity: 1;
  transform: translateY(0);
}

.mobile-link {
  display: flex;
  padding: 0.875em;
  color: var(--clr-neutral-200);
  text-decoration: none;
  transition: transform 0.3s;
}

.mobile-link:hover,
.mobile-link:focus {
  transform: scale(1.01);
}

/* ========== MAIN SLIDER (HERO SECTION) ========== */
main {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

main .swiper {
  height: 80vh;
}

main .overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

main .overlay img {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  object-fit: cover;
}

main .img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  margin-top: -2rem;
  text-align: center;
}

main .img-overlay p,
main .img-overlay h1,
main .img-overlay h2 {
  width: 880px;
  color: var(--clr-neutral-50);
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========== BOOKING SECTION ========== */
#booking {
  position: relative;
  z-index: 1;
  margin-top: -280px;
}

.booking-container {
  max-width: 1440px;
  width: calc(100% - 4em); /* = 2em left + 2em right */
  margin: 0 auto;
  padding: 0.825em 2.25em;
  background-color: var(--clr-neutral-50);
  border-radius: 16px;
}

/* Tabs */
.booking-tabs {
  display: flex;
  gap: 0.625rem;
}

.booking-tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1.125em 1em;
  border: none;
  border-bottom: 3px solid transparent;
  font-family: var(--font-family-base);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-16);
  color: var(--clr-neutral-200);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.booking-tab.active {
  border-color: var(--clr-primary-400);
  font-weight: var(--fw-bold);
}

/* Forms */

.booking-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 24px;
  margin: 1.5rem;
}

.booking-form .trip {
  min-width: 140px;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 68px;
  padding: 0.625em 0.875em;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 4px;
}

.form-group label {
  font-size: var(--fs-14);
  color: var(--clr-neutral-100);
  margin-bottom: 4px;
}

.form-group input,
.form-group select {
  cursor: pointer;
  font-size: var(--fs-14);
  color: var(--clr-neutral-200);
  border: none;
  outline: none;
  background: none;
}

/* Swap Icon */
.swap-icon {
  position: absolute;
  top: 32px;
  right: 10px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-16);
  color: var(--clr-neutral-200);
  cursor: pointer;
}

/* Actions Buttons */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 0.9375rem 1.4em 0 0;
  max-height: 48px;
}

/* Input with Icons */
.input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.input-with-icon input {
  width: 100%;
  padding: 0 1.75em;
  border: none;
  background: none;
  font-size: var(--fs-14);
  color: var(--clr-neutral-200);
}

.input-calendar input {
  padding: 0;
  cursor: pointer;
}

.input-with-icon select {
  width: 100%;
  padding: 0 2em;
}

.input-icon {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.input-icon-right {
  position: absolute;
  right: 0;
  width: 22px;
  height: 22px;
  pointer-events: none;
}

/* Hidden Utility - Specificity is important here! */
.booking-form.hidden,
.actions.hidden {
  display: none;
}

/* ========== PLACES SECTION ========== */
.places-heading,
.reviews-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em;
  margin: 60px auto 0 auto;
  max-width: 1232px;
}

.secondary-heading {
  margin-bottom: 0.4rem;
}

.places .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1232px;
  margin: auto;
}

.places-card {
  margin: 2rem;
  max-width: 1232px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.places-content {
  max-width: 390px;
  padding: 3em;
  min-width: 280px;
}

.places-content img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.places-content img:hover {
  transform: scale(1.05);
}

/* ========== BOOKING BANNER SECTION ========== */
.booking-banner {
  margin: 5rem 2rem;
}

.box-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.box {
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex: 1;
  height: 520px;
  min-width: 320px;
  max-width: 580px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.box .image-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

/* Overlay content */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  color: var(--clr-neutral-50);
  text-align: center;
}

.card-overlay h1 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.card-overlay p {
  font-size: clamp(1rem, 1.8vw, 1.25rem);
  font-weight: var(--fw-regular);
  opacity: 1;
  max-width: 24.375rem;
  margin-bottom: 1rem;
  transition: opacity 0.3s ease-in-out;
}

.card-overlay button {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

/* Hover effects */
.box:hover {
  transform: translateY(-5px);
}

.box:hover .image-box {
  transform: scale(1.06);
}

.box:hover .card-overlay button,
.box.active .card-overlay button {
  opacity: 1;
  transform: translateY(0);
}

/* ========== REVIEWS SECTION ========== */
.reviews-heading {
  max-width: 1396px;
}

.slider-reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em 2em 0 2em;
}

.slider-reviews-container .reviews-swiper {
  width: 100%;
  padding: 1em 0;
}

.slider-reviews-container .swiper-wrapper {
  padding-bottom: 2em;
  cursor: grab;
}

.slider-reviews-container .swiper-slide {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  height: 632px;
  width: 1232px;
}

.swiper-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 430px;
  height: 100%;
  max-height: 586px;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 10px 16px 80px var(--clr-primary-400);
  transition: transform 0.3s ease;
}

.swiper-content p {
  max-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.swiper-content button {
  font-weight: var(--fw-bold);
  padding: 1.25rem 0.875rem;
  margin-left: auto;
}

.swiper-content .star-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  margin: 0 0 0.75rem 0;
}

.swiper-content .flex {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.875rem;
}

.swiper-content-img img {
  width: 100%;
  max-width: 376px;
  max-height: 200px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 10px;
  object-fit: cover;
}

/* ========== SUBSCRIBE SECTION ========== */
.subscribe-wrapper {
  max-width: 1440px;
  width: calc(100% - 4em); /* subtract 2em from both left and right */
  margin: 0 auto; /* center the box horizontally */
  transform: translateY(40px);
  background-color: var(--clr-primary-300);
  border-radius: 26px;
}

.subscribe-wrapper .flex {
  justify-content: space-between;
  gap: 2.625rem;
  padding: 4.625rem 5.3125rem;
}

.subscribe-heading h1 {
  font-size: clamp(2rem, 5vw, 2.8125rem);
}

.subscribe-heading h2 {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.subscribe-heading p {
  font-size: clamp(0.875rem, 2vw, 1rem);
}

.subscribe-form label {
  color: var(--clr-neutral-100);
  font-size: var(--fs-18);
  margin-bottom: 0.75rem;
}

.subscribe-form input {
  max-width: 420px;
  padding: 1.125em;
  font-size: var(--fs-16);
  color: var(--clr-neutral-200);
  border: none;
  outline: none;
  background-color: var(--clr-neutral-50);
}

.subscribe-form .btn-black {
  padding: 1.125em 1.25em;
  border-radius: 4px;
  color: var(--clr-neutral-50);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-14);
  background-color: var(--clr-neutral-200);
}

/* ========== FOOTER SECTION ========== */
footer {
  margin-top: -80px;
  background-color: var(--clr-primary-400);
}

footer .flex-no-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 12em 0 4em 0;
}

.links {
  padding: 0 1em;
}

.links h1 {
  margin-bottom: 0.625rem;
}

.links:nth-child(1),
.links:nth-child(5),
.links:nth-child(6) {
  align-self: flex-start;
}

footer .flex-no-wrap a {
  color: var(--clr-neutral-100);
  text-decoration: none;
  display: block;
  padding: 0.2em 0;
}

.socials-company-logo {
  max-width: 110px;
  margin-bottom: 1.25rem;
}

.social-links {
  display: inline-flex;
  gap: 0.75rem;
}

.social-links img {
  width: 24px;
  height: 24px;
}

footer a:hover,
footer a:focus {
  transform: scale(1.02) translateZ(0);
  transition: transform 0.2s ease-out;
}
